
@import 'color';
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.main{
    width: 1200px;
    margin: 0 auto;
}
a{
    color: $black;
}

/* Common Margin & Padding */

@for $i from 1 through 10 {
    .pt-#{$i * 10}
    {
        padding-top: $i * 10px;
    }

    .pb-#{$i * 10}
    {
        padding-bottom: $i * 10px;
    }

    .mt-#{$i * 10}
    {
        margin-top: $i * 10px;
    }

    .mb-#{$i * 10}
    {
        margin-bottom: $i * 10px;
    }
}