

.banner_area {
	padding-top: 150px;
	padding-bottom: 150px;
    &.banner_bg{
        background-position: center;
        background-size: cover;
        position: relative;
        z-index: 2;
        &::before{
            content: '';
            background-color: black;
            position: absolute;
            width: 100%;
            height: 100%;
            opacity: .75;
            top: 0;
            left: 0;
            z-index: -1;
        }
    }

    .banner_content h2 {
        color: #fff;
        font-size:50px;
        text-transform: uppercase;
        line-height: 37px;
        text-align: center;
      }
      .banner_content p {
        color: #fff;
        max-width: 500px;
        margin: 30px auto;
        text-align:center;
      }

      .banner_btn {
        text-align: center;
        & a {
            color: #fff;
            text-decoration: none;
            font-size: 20px;
            text-transform: capitalize;
            margin: 0px 10px;
            &.bg_btn {
                background-color: tomato;
                padding: 14px 23px;
                border-radius: 8px;
                border: none;
                &:hover {
                    border: 1px solid tomato;
                    background-color: transparent;
                    transition: .3s;
                  }
              }
              &.border_btn {
                border: 1px solid tomato;
                padding: 14px 23px;
                border-radius: 8px;
                &:hover {
                    background-color: tomato !important;
                    transition: .3s;
                  }
              }
        }
      }
}











  







