
.service_area {
    background-color: #f7f7f7;
    padding-top: 100px;
    padding-bottom: 100px;
    &:after {
        content: "";
        clear: both;
        display: table;
    }
    .service_title {
        position:relative;
        text-align: center;
        & h4 {
            font-size: 30px;
            text-transform: capitalize;
            &:before {
                content: "";
                display: block;
                background-color: tomato;
                width: 54px;
                height: 4px;
                left: 50%;
                position: absolute;
                transform: translateX(-50%);
                top:27px;
            }
        }
        & p {
            max-width: 623px;
            margin: 30px auto;
        }
    }
    .service{
        .single_service {
            width: 380px;
            border: 2px solid #ddd;
            padding: 50px 35px;
            float: left;
            margin-right: 20px;
            margin-bottom: 20px;
            &:last-child {
                margin-right: 0px;
            }
            &:hover {
                background-color: #fff;
                transition: .3s;
                border: 2px solid tomato;
            }
            i {
                font-size: 25px;
                border-radius: 50%;
                width: 50px;
                height: 50px;
                text-align: center;
                line-height: 50px;
                border: 1px solid #ddd;
                margin-bottom: 20px;
            }
            &:hover i {
                border: 2px solid tomato;
            }
            h4 {
                font-size: 20px;
                text-transform: capitalize;
                margin-bottom: 20px;
            }
        }
    }
}


































